/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* gris fonce :#2c3840
 * gris intermediaire (barre menu) : #9e9e9e
 * gris claire (fond) : #e0e0e0
 */
#PaneLogin{
	-fx-background-color : #2c3840;
	-fx-background-radius: 10px;
}